<mat-toolbar class="mat-elevation-z2" color="primary">
  <button mat-button routerLink="/welcome" routerLinkActive="mat-accent">
    <mat-icon>backspace</mat-icon>
    <span>404</span>
  </button>
  <button mat-button routerLink="/app" routerLinkActive="mat-accent">
    <mat-icon>dialpad</mat-icon>
    <span>App</span>
  </button>
  <button mat-button routerLink="/users" routerLinkActive="mat-accent">
    <mat-icon>group</mat-icon>
    <span>Users</span>
  </button>
  <button mat-button routerLink="/players" routerLinkActive="mat-accent">
    <mat-icon>child_care</mat-icon>
    <span>Players</span>
  </button>
  <button mat-button routerLink="/periods" routerLinkActive="mat-accent">
    <mat-icon>timelapse</mat-icon>
    <span>Periods</span>
  </button>
  <button mat-button routerLink="/events" routerLinkActive="mat-accent">
    <mat-icon>event</mat-icon>
    <span>Events</span>
  </button>
  <button mat-button routerLink="/reports" routerLinkActive="mat-accent">
    <mat-icon>timeline</mat-icon>
    <span>Reports</span>
  </button>
  <button mat-button routerLink="/login" routerLinkActive="mat-accent">
    <mat-icon>timeline</mat-icon>
    <span>Login</span>
  </button>
  <button mat-button routerLink="/logout" routerLinkActive="mat-accent">
    <mat-icon>timeline</mat-icon>
    <span>Logout</span>
  </button>
  <wpp-current-user></wpp-current-user>
</mat-toolbar>
