<form class="register-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" [formControl]="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" [formControl]="password" [type]="hidePassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="togglePassword()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirm Password" [formControl]="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
    <mat-icon matSuffix (click)="toggleConfirmPassword()">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="register()">Register</button>
</form>
<button mat-button routerLink="/login" routerLinkActive="active">
  <mat-icon>person</mat-icon>
  <span>Login</span>
</button>
